<title>New Diary Entry</title>
<form action="/save" method="post">
  Title: <input type="text" name="title" value="Enter a title">
  Entry: <input type="text" name="entry" value="Enter your diary entry">
  <input type="submit" value="Save">
</form>